{
    "plugins": ["prettier", "no-only-tests"],
    "extends": ["react-app", "react-app/jest", "prettier"],
    "env": {},
    "rules": {
        "no-only-tests/no-only-tests": "error"
    },
    "overrides": [
        {
            "files": ["tests/**.ts", "src/**/*.spec.tsx"],
            "rules": {
                "testing-library/prefer-screen-queries": "off"
            }
        }
    ]
}
