.screen {
    padding-top: 20px;
    padding-bottom: 20px;
    display: relative;
    color: white;
    -webkit-text-stroke: 2px black;
    font-weight: bold;
}

.screen__lyrics {
    box-sizing: border-box;
    padding: 10px;
    background-color: rgba(0, 0, 0, 0.35);
    height: 100px;
    width: 100%;
    text-align: center;
    line-height: 1;
    /* text-shadow: 0px 2px black; */
}

.screen__lyrics--first-line {
    font-size: 45px;
    height: 45px;
    color: white;
}
.screen__lyrics--second-line {
    height: 35px;
    font-size: 35px;
    color: grey;
}

.screen__scores {
    margin-top: 100px;
    position: absolute;
    right: 10px;
    font-size: 35px;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
}