.duration-bar {
    position: absolute;
    height: 6px;
    width: 100%;
    background: rgba(0, 0, 0, 0.5);
    left: 0;
    top: calc(50% - 3px);
}

.duration-bar__marker {
    top: 0;
    margin-left: -3px;
    width: 6px;
    opacity: 75%;
}

.duration-bar__fill {
    top: 0;
    background: white;
    opacity: 50%;
}
