/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html,
body,
div,
span,
applet,
object,
iframe,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
/*b,*/
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* end of reset */
body {
  position: relative;
  margin: 0;
  font-family: 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  /* Hide scrollbar - for some reason its visible on Singing Scene (todo investigate why its that) */
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
  overflow-y: auto;
}

button,
input {
  font-family: 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
}

html {
  overflow: overlay;
  overflow-x: hidden;

  font-size: calc(min(0.9259259259259vh, 0.5208333333333vw) * var(--zoom-multipler, 1));
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

.blockOverflow {
  overflow: hidden;
}

.Toastify {
  font-size: 1.5rem;
  --toastify-toast-width: 32rem;
  --toastify-toast-min-height: 6.4rem;
  --toastify-toast-max-height: 80rem;
}

.Toastify__toast {
  padding: 0.8rem;
  border-radius: 0.4rem;
}

.Toastify__toast-body {
  padding: 0.6rem;
}

.Toastify__toast-icon {
  width: 1.5rem;
  margin-inline-end: 1rem;
}

.Toastify__close-button > svg {
  width: 1.5rem;
  height: 1.5rem;
}

.Toastify__progress-bar {
  height: 0.5rem;
}

@keyframes fade-in {
  from {
    opacity: 0;
  }
}

@keyframes fade-out {
  to {
    opacity: 0;
  }
}

@keyframes slide-from-right {
  from {
    transform: scale(0.8);
  }
}

@keyframes slide-to-left {
  to {
    transform: scale(1.2);
  }
}

::view-transition-old(menu-container) {
  animation: 210ms ease-in-out both fade-out, 300ms ease-in-out both slide-to-left;
}
::view-transition-new(menu-container) {
  animation: 210ms ease-in-out 90ms both fade-in, 300ms ease-in-out both slide-from-right;
}
